# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
.env
.env.*
.gitfilter-replacements.txt

# Secrets / keys
*.pem
*.key

# Database
*.sqlite3

# Virtual environments
.venv/
venv/
ENV/

# Unit test / coverage
.coverage
htmlcov/
.pytest_cache/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Static build artifacts
staticfiles/

# Media uploads
media/
