<aside class="dashboard-sidebar">
    <div class="sidebar-header">
        <h2>Admin Portal</h2>
        <a href="/" class="back-to-home">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M19 12H5M12 19l-7-7 7-7"/>
            </svg>
            <span>Back to Home</span>
        </a>
    </div>
    <nav class="sidebar-nav">
        <a href="{% url 'admin-dashboard' %}" class="nav-link ">Overview</a>
        <a href="{% url 'admin-members' %}" class="nav-link ">Members</a>
        <a href="{% url 'admin-trainers' %}" class="nav-link ">Trainers</a>
        <a href="{% url 'admin-memberships' %}" class="nav-link ">Membership Plans</a>
        <a href="{% url 'admin-private-classes-list' %}" class="nav-link ">Manage Private Classes</a>
        <a href="{% url 'admin-payments' %}" class="nav-link ">Payments</a>
        <a href="{% url 'admin-reports' %}" class="nav-link ">Reports</a>
        <a href="{% url 'profile-settings' %}" class="nav-link ">Profile</a>
        <a href="{% url 'logout' %}" class="nav-link logout-link">Logout</a>
    </nav>
</aside>
 
<script>
    const navs = document.querySelectorAll('.sidebar-nav .nav-link');
    navs.forEach(nav => {
        if (nav.href == window.location.href){
            nav.classList.add('active');
        }
    });


</script>